:root{
  font-family: 'Montserrat', sans-serif;
}

body{
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#cbccc8)) fixed;
  background-color: black;
  background-image: linear-gradient(black, #aaaaaa);
}

/*
HEADER
*/

.header-text{
  text-align: center;
  color: white;
  padding-top: 100px;
  font-size: 75px;
  text-transform: uppercase;
}

/*
BODY
*/

body > div{
  margin: auto;
  width: 50%;
}

.body-text{
  padding-top: 150px;
  text-align: center;
  font-size: 30px;
  line-height: 45px;
  padding-bottom: 100px;
}

.body-text{
  text-align: center;
  color: white;
}

.nav-menu-container{
  padding-top: 15px;
  border-top: 5px solid white;
  text-align: center;
}

.nav-menu:last-child{
  padding-right: 0px;
}

.nav-menu:first-child{
  padding-left: 25px;
}

.nav-menu{
  font-size: 30px;
  display: inline-block;
  margin: auto;
  padding-right: 25px;
}

div>a:link, div>a:visited, div>a:active{
  color:black;
  border-top: 0px solid white;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-menu>a:hover{
  color: white;
  border-top: 2px solid white;
}

.social-media{
  padding-top: 45px;
  text-align: center;
}

.icon{
  font-size: 40px;
  display: inline-block;
  margin: auto;
  padding-right: 30px;
  transition: color 0.5s;
}

.icon:last-child{
  padding-right: 0px;
}

.icon>a:hover{
  color: white;
}
